/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/* 
/*!---RESET---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    color: black;
} 



/*!--HEADER--*/
.menu-color{
    background-color: #000000ec;

}  */ */


/* header nav ul {
    list-style:none;
    display: flex;

}

header nav ul li{
    margin-right: 20px;
}

header nav ul li a{
    text-decoration:none;
    color: white
}



header h1{
    font-size: 50px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.808);

}

 */


/*!--CLASES--*/
/* .hero h2{
    color: white;
}

.top h2{
    color: rgb(0, 0, 0);
}

.clasicos h2{
    color: rgb(0, 0, 0);
}
 */


/*!------MAIN-----*/

/* .hero{
        width: 100%;
        height: calc(100vh - 119px);
        text-align: center;
        background-image: url(../img/tiro-rojo.gif);
        background-repeat:no-repeat;
        background-size:cover ;
        background-position: center;
        background-attachment: fixed;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}  

.hero a{
    background-color: hsl(0, 0%, 0%);
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 20px;

}

.hero a{
    border: 2px solid #cf0000bb;
}


.hero h2{
    font-size: 45px;
    padding: 20px;
}

.hero p{
    padding: 20px;
    font-size: 15px;
    margin: 20x;
    width: 50%;
} */


/* .top{
    background-color: #8b1010;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top div h2{
    font-size: 50px;    
    font-weight: 900;
    color: rgba(255, 255, 255, 0.808);
}
.top img{
    width: 400px;
    height: 400px;
}

.top p{
    color: bisque;
}

.top div{
    width: 50%;
}
 */
/* 
.hero a{
    border: 2px solid #cf0000bb;
}

.hero h2{
    font-size: 45px;
    padding: 20px;
}

.hero p{
    padding: 20px;
    font-size: 15px;
    margin: 20x;
    width: 50%;
}


.hero h2{
    position: sticky;
    top: 0;
} */
/* 
.clasicos .clasicos-contenedor{
    background-color: #8b1010;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
} */
/* 
.clasicos .clasicos-contenedor div{
    width: 300px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.795);
    margin: 10px;
    text-align: center;

} */

/* .clasicos div h3{
    margin-bottom: 20px;
}

.clasicos h2{
    text-align: center;
    background-color: red;
    color:white;
    padding: 20px;
    text-transform: uppercase;
    margin-bottom: auto;
}

.clasicos div img{
    width: 100%;
} */

/* .clasicos div a{
    background-color: #000000;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 15px;
} */
/* 
.grid-galeria{
    padding: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    gap: 8px;
}

.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img-1{
    grid-column: span 2;
}

.img-2{
    grid-row: span 2;
}


.img-5{
    grid-column: span 2;
}

.img-7{
    grid-row: span 2;

}

.img-8{
    grid-row: span 2;

}


.img-9{
    grid-row: span 2;
    
}

.grid-item{
    position: relative;

}

.grid-item h3{
    position: absolute;
    bottom: 0;
    background-color: hsl(0, 12%, 31%);
    color: aliceblue;
    width: 100%;
    padding: 5px;
} */
/* 
.bot{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.bot a img{
    width: 50px;
}
 */


/* footer div a img{
    width: 50px;
    height: 50px;
} 
footer{
    background-color: #8b1010;

    padding: 40px;
} */

/* footer .footer-contenedor{
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
 */

/* footer h2{
    color: rgb(0, 0, 0);
    font-size: 60px;
} */

/* footer .footer-reportar{
    text-align: center;
    
}

footer .footer-terminos{
    text-align: center;
    
}

footer .footer-espanol{
    text-align: center;
    
} */
/* 
@media screen and (max-width:993px){
    .top img{
        width: 300px;
        height: 300px;
    }
}


@media screen and (max-width:826px) {
    .hero h2{
        font-size: 30px;
}
.hero p{
    font-size: 20px;
}
.hero a{
    font-size: 15px;
}
}

@media screen and (max-width:730px) {
    .grid-galeria{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 220px;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .img-9{
        grid-column: span 2;
    }
}

@media screen and (max-width:674px) {
    header{
    flex-direction: column;
    }
    .top{
        flex-direction: column;
    }
    .top div{
        width: 100%;
        text-align: center;
        margin: 15px;
    }
}

@media screen and (max-width:566px) {
    .hero p{
        display: none;
    }
    .hero p{
        margin: 10px;
    }
}

@media screen and (max-width:439px) {
    header nav ul{
        flex-direction: column;
    }
    header nav ul il a{
        font-size: 16px;
    }
    header h1{
        font-size:px ;
    }
}

@media screen and (max-width:398px) {
    hero h2{
        font-size: 20px;
    }
}

@media screen and (max-width:380px) {
    .grid-galeria{
        grid-template-columns: 1fr;
    }
    .grid-item{
        grid-column: span 1;
}
}

 */
