//VARIABLES
$color-principal: hsl(0, 99%, 44%);
$color-secundario:black;


//LISTAS
$font: 5px, 15px, 20px, 45px, 50px, 60px;



//EXTENDS

%enlaces{
    align-items: center
}


//MIXIN

@mixin flex($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}
